{{ define "title" }}
  Index page
{{ end }}

{{ define "content" }}
  <h1>Welcome to index page</h1>
  {{ if not .NavInfo.IsGuest }}
  <p>This is content only for authenticated users! Congratulations!</p>
  <ul>
    <li>
      <a href="/somepage">Link to page only for logged in users</a>
    </li>
  </ul>
  {{ else }}
  <p>There will be some content only for authorized users</p>
  {{ end }}
{{ end }}
