{{ define "title" }}
    Some page with content
{{ end }}

{{ define "main" }}
<main class="flex flex-col gap-y-4 p-10 ">
    <h1 class="text-2xl">This is another page</h1>
    <p>Will be rendered on server</p>
    <p>and locked under apis.RequireAdminOrRecordAuth default middleware</p>
    <p>here are some random numbers</p>
    <ul>
        <li>{{ .RandomNumber }}</li>
        <li>{{ .RandomString }}</li>
    </ul>
</main>
{{ end }}
