{{ define "title" }}
  Not Authorized
{{ end }}

{{ define "main" }}
<main hx-boost="true" class="px-10 pt-10 flex flex-col gap-y-10">
      The page you are trying to access requires authorization.
      Please log in.
</main>
{{ end }}
